* {
    border: none;
    min-height: 0;
    font-family: "Mononoki Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #1b1919;
    border: 2px solid #f22c40;
    border-radius: 4px;
}
tooltip {
    background-color: #101010;
    border: 2px solid #f22c40;
    font-size: 2px;
    color: #f22c40;
}
tooltip label {
    margin: 8px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 4px;
}
#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #f22c40;
    background-color: #1b1919;
    border: 2px solid #f22c40;
    border-radius: 4px;
    margin-right: 2px;
}
#workspaces button.active {
    color: #1b1919;
    background-color: #f22c40;
}

#clock {
    background-color: #f22c40;
    border: 2px solid #1b1919;
    color: #1b1919;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border-radius: 4px;
}

#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
    background-color: #1b1919;
    border: 2px solid #f22c40;
    color: #f22c40;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    border-radius: 4px;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #c38418;
    border: 2px solid #c38418;
}

#custom-launcher,
#custom-power {
    font-size: 28px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
    color: #f22c40;
}
